# Игнорировать файлы виртуального окружения
venv/
env/
deploy/*
makefile

# Ignore dynaconf secret files
config.toml
# Игнорировать файлы Python байт-кода
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы логов
*.log

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать файлы конфигурации
*.env
*.venv

# Игнорировать файлы, созданные тестами или сборками
dist/
build/
.eggs/
.idea/
*.egg-info/

# Игнорировать файлы миграций (если используете Django или SQLAlchemy)
migrations/

# Игнорировать файлы локальных настроек
*.sqlite3
*.db

# Игнорировать файлы, связанные с Jupyter Notebook
.ipynb_checkpoints

# Другие файлы, которые не должны попадать в репозиторий
.DS_Store
*.swp
*.swo
